body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
}

.banner-container {
    margin-bottom: 20px;
}

#banner {
    width: 100%;
    height: auto;
}

.main-container {
    padding: 10px;
}

h1 {
    font-size: 24px; /* Smaller font size for mobile */
    margin-bottom: 20px;
}

#scores {
    background-color: #34495e;
    padding: 10px;
    border-radius: 8px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px; /* Smaller font size for mobile */
}

.table th, .table td {
    border: 1px solid #7f8c8d;
    padding: 8px; /* Less padding for mobile */
    text-align: center;
}

.table th {
    background-color: #3498db;
    color: #fff;
}

.table tr:nth-child(even) {
    background-color: #2c3e50;
}

.table tr:nth-child(odd) {
    background-color: #34495e;
}

.table tr:last-child {
    background-color: #e74c3c;
    color: #ecf0f1;
    font-weight: bold;
}

.table tr:hover {
    background-color: #3e5569; /* This will not work on most mobile browsers */
}

/* Responsive Design */
@media (max-width: 768px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .table th, .table td {
        padding: 14px;
        font-size: 16px; /* Larger font size for readability */
    }

    .table th {
        font-size: 18px; /* Even larger font size for headers */
    }

    h1 {
        font-size: 24px; /* Larger header font size */
    }
}

/* Landscape Orientation */
@media (max-width: 600px) and (orientation: landscape) {
    h1 {
        font-size: 18px; /* Adjusting font size for landscape orientation */
    }

    .table th, .table td {
        padding: 4px; /* Adjusting padding for landscape orientation */
    }
}

/* Image and text scaling for banner */
.banner-container img {
    width: 100%;
    height: auto;
}

